@model Mvc2AjaxDemo.ViewModels.PlayerListViewModel
@{
    ViewData["Title"] = "Players";
}

<div class="text-center">
    <h1 class="display-4">Players</h1>
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var p in Model.Players)
    {
        <tr>
            <td>@p.Name</td>
            <td><a href="#" onclick="fetch('@p.Id')" >Set as current</a></td>
        </tr>
    }
    </tbody>
</table>

<div id="currentPlayerPartial"></div>



@section scripts{
    <script>
        function fetch(id) {

//            $("#currentPlayerPartial").load("/player/getplayerhtml?id=" + id);

            $.ajax({url: "/player/getplayerhtml?id=" + id, success: function(result){
                $("#currentPlayerPartial").html(result);
            }});        



            //var xhr = new XMLHttpRequest();
            //xhr.onreadystatechange = function () {
            //    if (this.readyState == 4 && this.status == 200) {
            //        document.getElementById('currentPlayerPartial').innerHTML = this.responseText;
            //    }
            //};
            //xhr.open('get', '/player/getplayerhtml?id=' + id);
            //xhr.send();
        }

    </script>
}